{{- with .Title -}}
<meta name="DC.Title" content="{{ . }}">
{{- end -}}

{{- with .Site.Author -}}
<meta name="DC.Creator" content="{{ .last }}, {{ .first }}">
{{- end -}}

{{- with .Params.Keywords -}}
<meta name="DC.Subject" content="{{ range . }}{{.}}, {{ end }}">
{{- end -}}

{{- with .Description -}}
<meta name="DC.Description" content="{{ . | markdownify | plainify }}">
{{- end -}}

{{- with .Params.Publisher -}}
<meta name="DC.Publisher" content="{{ . }}">
{{- end -}}

{{- with .Params.Date -}}
<meta name="DC.Date" content="{{ .Format "2006-01-02" }}">
{{- end -}}

{{- if eq .Type "single" -}}
<meta name="DC.Type" content="article">
{{- end -}}

<meta name="DC.Format" content="text/html">

{{- with .Permalink -}}
<meta name="DC.Identifier" content="{{ . }}">
{{- end -}}

{{- with $.Site.BaseURL -}}
<meta name="DC.Source" content="{{ . }}">
{{- end -}}

<meta name="DC.Language" content="{{ .Lang }}">

{{- if eq .Type "single" -}}
-<meta name="DC.Relation" content="{{ .Kind | title }} {{ i18n "in_the_meta_title" }} {{ $.Site.Title }}">
{{- end -}}

{{- with .Params.Date -}}
<meta name="DC.Coverage" content="{{ .Format "2006" }}">
{{- end -}}

{{- with $.Site.Copyright -}}
<meta name="DC.Rights" content="{{ . }}">
{{- end -}}