<!-- Single favicon -->
<link rel="icon" href="{{ "/img/favicon/favicon.png" | relURL }}" type="image/png" />

<!-- Apple Touch Icon -->
<link rel="apple-touch-icon" sizes="128x128" href="{{ "/img/favicon/icon-120.png" | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/img/favicon/icon-180.png" | relURL }}">

<!-- Google Developer Web App Manifest Recommendation -->
<link rel="icon" type="image/png" sizes="192x192"  href="{{ "/img/favicon/icon-192.png" | relURL }}">

<!-- A Web app manifest is a simple JSON file the details how a web app should function when an web app is “installed” (linked within Chrome’s app panel). This JSON file includes declarations for Favicons. For more info, see Web App Manifest https://developers.google.com/web/fundamentals/web-app-manifest/ -->
<link rel="manifest" href="{{ "/manifest.json" | relURL }}">

<!-- IE10 Metro tile for pinned site* -->
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ "/img/favicon/icon-144.png" | relURL }}">
<meta name="theme-color" content="#000000">