<!doctype html>
<html class="no-js" lang="{{ .Page.Lang }}">

  <head>
    {{- partial "head/head.html" . -}}
    {{/* "title" block outside head.html to render on different page types */}}
    <title>{{ block "title" . -}}
      {{ with .Title }}{{ . | markdownify | plainify }}{{ end }}{{ if and .Title .Site.Title }} &mdash; {{ end }}{{ .Site.Title }}
      {{- end }}</title>
  </head>

  <body>

    <header>
      {{- block "header" . }}
      {{- partial "header.html" . -}}
      {{- end -}}
    </header>

    <main>
      {{- block "main" . }}{{/* Default to article with content */}}
      <article class="container content">
        {{- .Content -}}
      </article>
      {{- end }}
    </main>

    <footer>
      {{- block "footer" . }}
      {{- partial "footer.html" . -}}
      {{- end -}}
    </footer>

    <script>
      {{ if eq .Lang "fr" }}
      {{- $espaceFineJS := resources.Get "scripts/espacefine.js" | resources.Minify }}
      {{ $espaceFineJS.Content | safeJS -}}
       // espacefine for French
         espaceFine();
       {{ end }}
    </script>

  </body>
</html>
